<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="TestOne">
		<classes>
			<class name="com.excelreport.qa.TestClassOne" />
		</classes>
	</test>
	<test name="TestTwo">
		<classes>
			<class name="com.excelreport.qa.TestClassTwo" />
		</classes>
	</test>
</suite>